# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\PUCRS 2020.2\46509-02 Gerenciamento de Config. de Software\Trabalho 1\Trabalho_1_GCS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
